/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #dc143c 0%, #ffa500 50%, #008000 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #6b7280;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: #6b7280;
}
