/* Scrollbar styles */

/* For webkit-based browsers like Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #dc143c 0%, #ffa500 50%, #008000 100%);
  border-radius: 10px; /* Rounded corners for the scrollbar handle */
}

/* CHANGE THE BG COLOR? TRANSPARANT | #EDF2F2 */

::-webkit-scrollbar-track {
  background: #6b7280; /* Background of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: #6b7280;
}
