.navbar {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 10, 10, 0.75);
  border-radius: 1rem;
  transition: 0.5s ease-in-out !important;
}

.list {
  list-style: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0 !important;
}

.list-item {
  margin-left: 0 !important;
  pointer-events: auto;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
