.input {
  pointer-events: auto;
  color: #edf2f2;
  margin-bottom: 1.5rem;
}

.input::placeholder {
  font-style: italic;
}

.input:focus-visible {
  border-color: #008000 !important;
  box-shadow: 0 0 0 1px #008000 !important;
}

.label {
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
  color: #edf2f2;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: auto;
  margin-right: 0 !important;
}

.submit-btn {
  pointer-events: auto;
  transition: transform 0.3s ease-in-out !important;
}
.submit-btn:hover {
  background: transparent !important;
}

.submit-text {
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
