/* POINTER EVENTS SHOULD BE NONE IN THE WRAPPER SO THE SQUARES ARE FILLED ON HOVER */
/* IF SOMETHING CLICKABLE DOESNT WORK PUT POINTER EVENTS TO AUTO (IN THE CHILD) */
/* DELETE THE POINTER-EVENTS:NONE LATER (MAYBE) LIKE IN THE HOME ROUTE */

.intro {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.resume-btn {
  pointer-events: auto;
}

.image {
  width: 250px;
  height: 250px;
  border: 2px solid #008000 !important;
  animation: rock 3s ease-in-out infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1); /* White glow effect */
}

@keyframes rock {
  0% {
    transform: rotate(5deg); /* Starting position */
  }
  50% {
    transform: rotate(-5deg); /* Rotate to the left */
  }
  100% {
    transform: rotate(5deg); /* Rotate back to the right */
  }
}
