.resume-btn {
  pointer-events: auto;
  transition: transform 0.3s ease-in-out !important;
}
.resume-btn:hover {
  background: transparent !important;
}

.resume-text {
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.image {
  width: 250px;
  height: 250px;
  border: 2px solid #008000 !important;
  animation: rock 3s ease-in-out infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

@keyframes rock {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
