.footer {
  position: relative;
  z-index: 10; /* Higher than .squares-bg */
  pointer-events: none;
}

/* Icon styles */

.github-icon,
.linkedin-icon {
  color: #f2f2f2 !important;
  margin-top: 20px;
  pointer-events: auto;
  transition: 0.3s ease-in;
}

.linkedin-icon:hover {
  color: #0a66c2 !important;
}
.github-icon:hover {
  color: #6b7280 !important;
}
